<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="global/meta :: meta">
    <title th:text="#{currencyconverter} + ' - ' + #{home}"></title>
</head>

<body>
<div class="banner">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form class="right" th:action="@{/logout}" method="post">
        <input type="submit" th:value="#{sign.out}"/>
    </form>
</div>

<form action="#" th:action="@{/home}" th:object="${conversionQuery}" method="post">

    <table>
        <tr>
            <th colspan="2">Convert</th>
            <th>To</th>
            <th>dd/MM/yyyy</th>
        </tr>
        <tr>
            <td><input type="text" th:field="*{amount}" /></td>

            <td>
            <select th:field="*{from}">
                <option th:each="dropDownItem : ${currencies}"
                        th:value="${dropDownItem.name}"
                        th:selected="'USD'"
                        th:text="${dropDownItem.name} + ' - ' + ${dropDownItem.title}" />
            </select>
            </td>
            <td>
                <select th:field="*{to}">
                    <option th:each="dropDownItem : ${currencies}"
                            th:value="${dropDownItem.name}"
                            th:selected="'EUR'"
                            th:text="${dropDownItem.name} + ' - ' + ${dropDownItem.title}" />
                </select>
            </td>
            <td><input type="text" th:field="*{date}" /></td>
            <td><input type="submit" th:value="#{convert}" /></td>
        </tr>
        <tr>
            <td class="error" colspan="4" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Invalid amount</td>
        </tr>
        <tr>
            <td class="error" colspan="4" th:if="${#fields.hasErrors('from')}" th:errors="*{from}">Invalid 'from' currency</td>
        </tr>
        <tr>
            <td class="error" colspan="4" th:if="${#fields.hasErrors('to')}" th:errors="*{to}">Invalid 'to' currency</td>
        </tr>
        <tr>
            <td class="error" colspan="4" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Invalid date</td>
        </tr>
        <tr>
            <td th:if="${#fields.hasGlobalErrors()}">
                <p class="error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
            </td>
        </tr>
    </table>
</form>

<div th:if="${result != null}">
    <p style="margin: 20px;" th:text="${#numbers.formatDecimal(result.query.amount, 0, 'COMMA', 2, 'POINT')} + ' ' +
                ${result.query.from} + ' = ' +
                ${#numbers.formatDecimal(result.result, 0, 'COMMA', 2, 'POINT')} + ' ' +
                ${result.query.to}"></p>
</div>

<div th:if="${not #lists.isEmpty(history)}">
    <h2>History</h2>
    <table>
        <tr>
            <th>Timestamp</th>
            <th>Query</th>
            <th>Date</th>
        </tr>
        <tr th:each="entry : ${history}">

            <td th:text="${#temporals.format(entry.timestamp, 'dd/MMM/yyyy HH:mm')}"></td>
            <td th:text="${#numbers.formatDecimal(entry.amount, 0, 'COMMA', 2, 'POINT')} + ' ' +
                            ${entry.base} + ' = ' +
                            ${#numbers.formatDecimal(entry.result, 0, 'COMMA', 2, 'POINT')}  + ' ' +
                            ${entry.quote}"></td>
            <td th:if="${entry.date != null}" th:text="'On ' + ${#temporals.format(entry.date, 'dd/MMM/yyyy')}">...</td>
            <td th:if="${entry.date == null}" th:text="#{live}">...</td>
        </tr>
    </table>
</div>

</body>
</html>