<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="global/meta :: meta">
    <title th:text="#{currencyconverter} + ' - ' + #{login}"></title>
</head>

<body>
<h1 th:text="#{account.login}">Login</h1>
<div class="error" th:if="${param.error}">
    <span th:text="${error}"/>
</div>
<div class="error" th:if="${param.logout}">
    <span th:text="${message}"/>
</div>
<form th:action="@{/login}" method="post">
    <table>
        <tr>
            <td><label th:for="${#ids.next('username')}" th:text="#{username}">Username</label></td>
            <td><input type="text" name="username"/></td>
        </tr>
        <tr>
            <td><label th:for="${#ids.next('password')}" th:text="#{password}">Password</label></td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td><input type="submit" th:value="#{sign.in}"/></td>
            <td><a href="/register" th:href="@{/register}" th:text="#{register}">Register</a></td>
        </tr>
    </table>
</form>
</body>
</html>