<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="global/meta :: meta">
    <title>Currency Converter - Registration</title>
</head>

<body>
<h1>Registration form</h1>
<form action="#" th:action="@{/register}" th:object="${registration}" method="post">

    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" th:field="*{username}" /></td>
            <td class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" th:field="*{password}" /></td>
            <td class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}" /></td>
            <td class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
        </tr>
        <tr>
            <td>Birthday:</td>
            <td><input type="text" th:field="*{birthday}" /></td>
            <td class="error" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Birthday Error</td>
        </tr>
        <tr>
            <td><input type="submit" value="Register" /></td>
            <td><input type="reset" value="Clear" /></td>
        </tr>
    </table>

</form>
</body>
</html>